.body{
    background-color: rgb(191, 42, 42);
    
}

.container{
    display: flex;
    align-items: center;
}
.welcome{
    flex: 1;
    
}
h2{
    color: white;
    
}
p{
    color: white;
    font-weight: bolder;
}
li{
    list-style: none;
    color: white;
    font-weight: bolder;
}
.image{
    flex: 1;
}
.image img {
    max-width: 100%;
    padding: 10px;
}
@media screen and (max-width: 320px){
    .container{
        display: flex;
        flex-direction: column-reverse;
    }
}
