.h1{
    font-size: 24px;
    color: #333;
}
.p{
    font-size: 16px;
    color: #666;
    line-height: 1.5;
}
.div{
    border: 10px;
    border-color: grey;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}