.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.email-bar{
  display:flex;
  align-items: flex-end;
}
.footer p {
  display: flex;
  align-items: flex-end;
}