.carousel {
    width: 100%;
    overflow: hidden;
  }
  .carousel-caption{
    padding: 15px;
  }
.home h1{
    text-align: center;
    padding-bottom: 10px;
}
.home p{
    text-align: center;
    padding: 5px;
}
  .carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
    text-align: center;
    
  }
  .carousel-item img {
    max-width: 100%;
    max-height: 200px;
    display: block;
    margin: 0 auto;
  }
  
  
  .carousel-item {
    flex: 0 0 100%;
  }
  
  /* Animate the transition between slides */
  .carousel-inner {
    animation: slide 30s infinite;
  }
  
  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    33.33% {
      transform: translateX(-100%);
    }
    66.66% {
      transform: translateX(-200%);
    }
    100% {
      transform: translateX(0);
    }
  }
  .amenities{
    height: 300px;
  }
  .newsletter{
    height: 300px;
    text-align: center;
  }
  