/* src/POPOSList.css */
.POPOSList {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 2em;
	max-width: 1200px;
	margin: auto;
	padding: 2em;
}
form {
  margin-bottom: 2em; /* Add some space between form and list */
}
  .POPOSSpace {
    width: 100%;
    text-align: center;
  }
  
  .POPOSSpace > img {
    width: 100%;
    height: auto;
  }
  @media only screen and (max-width: 960px) {
    .POPOSList {
      grid-template-columns: 1fr 1fr;
    }
  }
  @media only screen and (max-width: 700px) {
    .POPOSList {
      grid-template-columns: 1fr;
    }
  }
  