/*  src/Title.css  */
.Title {
  
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 1em;
  margin-bottom: 2em;
  background-color: rgb(1, 57, 10);
  color: #fff;
  }
  .titles{
    margin-bottom: 0.5em;
  }
 
  
  .Title .items{
    display: flex;
    
    justify-content: center; /* Horizontally center */
    align-items: center;
  }
  .navbar-list {
    list-style: none;
    
  }
  
  .navbar-item {
    display: inline-block; 
    margin-right: 10px; 
  }
  
  .navbar-link {
    text-decoration: none;
    color: #333; 
    font-weight: bold;
  }
  .Title a {
    display: inline-block;
    padding: 0.5em 1em;
    color: rgba(255, 255, 255, 0.835);
    font-weight: bold;
    text-decoration: none;
  }
  .Title .nav-link-active {
    color: #fff;
    border-bottom: 2px solid;
  }
  .search-bar{
      margin-top: 20px;
      padding: 5px;
      max-width: 300px;
      margin-left: auto;
      align-items: center;
  }
  @media screen and (max-width: 425px) {
    .Title {
      flex-direction: column;
      align-items: flex-start;
      
    }
  
    .search-bar {
      margin-top: 20px;
      width: calc(100% - 20px);
      max-width: 300px;
      margin-left: auto;
    }
  }
  @media screen and (max-width: 700px){
    .Title{
      max-width: 100%;
    }
    
  }
  @media screen and (max-width: 320px) {
    *{
      font-size: small;
      
    }
    .Title {
      flex-direction: column;
    }
    .items button{
      max-width: 50%;
      font-size: smaller;
    }
  }