/*  src/Title.css  */
.Title {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 1em;
  margin-bottom: 2em;
  background-color: rgb(1, 57, 10);
  color: #fff;
  }
  .titles{
    margin-bottom: 0.5em;
  }
 
  
  .Title .items{
    display: flex;
    align-items: baseline;
    
  }
  .navbar-list {
    list-style: none;
    
  }
  
  .navbar-item {
    display: inline-block; 
    margin-right: 10px; 
  }
  
  .navbar-link {
    text-decoration: none;
    color: #333; 
    font-weight: bold;
  }
  .Title a {
    display: inline-block;
    padding: 0.5em 1em;
    color: rgba(255, 255, 255, 0.835);
    font-weight: bold;
    text-decoration: none;
  }
  .Title .nav-link-active {
    color: #fff;
    border-bottom: 2px solid;
  }
