/*  src/Title.css  */
.Title {
    display: grid; /* Use CSS grid layout */
    grid-template-columns: 1fr 1fr; /* Two columns with equal width */
    gap: 20px; /* Add gap between columns */
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 1em;
    margin-bottom: 2em;
    background-color: rgb(192, 45, 26);
    color: #fff;
<<<<<<< HEAD:src/Title.css
    
  }
  
  
  
  
  
  
  .navbar-list {
    list-style: none;
  
  }
  
  .navbar-item {
    display: inline-block; 
    margin-right: 10px; 
  }
  
  .navbar-link {
    text-decoration: none;
    color: #333; 
    font-weight: bold;
  }
  
  
=======
  }
  .Title a {
    display: inline-block;
    padding: 0.5em 1em;
    color: rgba(255, 255, 255, 0.835);
    font-weight: bold;
    text-decoration: none;
  }
  .Title .nav-link-active {
    color: #fff;
    border-bottom: 2px solid;
  }
>>>>>>> aa639cafd2cb0068bb5493a368e8bb67c1d40623:src/components/Title.css
