.RandomSpace {
    background-color: rgb(192, 45, 26);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .RandomSpace:hover {
    background-color: rgb(192, 45, 26)
  }
  