.RandomSpace {
    background-color: #4c6b4d;
    color: #fff;
    padding:  5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
  }
  
  .RandomSpace:hover {
    background-color: rgb(1, 32, 11)
  }
  