/*  src/Title.css  */
.Title {
    display: grid; /* Use CSS grid layout */
    grid-template-columns: 1fr 1fr; /* Two columns with equal width */
    gap: 20px; /* Add gap between columns */
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 1em;
    margin-bottom: 2em;
    background-color: rgb(192, 45, 26);
    color: #fff;
    
  }
  
  
  
  
  
  
  .navbar-list {
    list-style: none;
  
  }
  
  .navbar-item {
    display: inline-block; 
    margin-right: 10px; 
  }
  
  .navbar-link {
    text-decoration: none;
    color: #333; 
    font-weight: bold;
  }
  
  